@import "./variables";

/*Headings and Text*/
@mixin headings($font-size) {
	color: $highlight-main;
	font-family: $Roboto;
	font-size: $font-size;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
}

@mixin bold-text($font-size) {
	@include headings($font-size);
	font-weight: 700;
}

@mixin highlight-text() {
	color: $text-color-highlight;
	font-family: $Yellowtail;
	font-size: 36px;
	font-style: normal;
	text-transform: capitalize;
	font-weight: 400;
	line-height: normal;
}

@mixin common-text() {
	color: $text-color-main;
	font-family: $Open-Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 165.4%;
}

/*Images*/
@mixin backgr-img($url) {
	background-image: url($url);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	max-height: 100%;
}

/*Pseudo element*/
@mixin pseudo-elem() {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

@mixin pseudo-elem-img($url) {
  @include pseudo-elem();
	width: 100px;
	height: 100px;
  background-image: url($url);
  background-size: cover;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Flex box*/
@mixin flex-row() {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Transition*/
@mixin transition-main() {
	transition: all $trans-default-time;
}