@import "./functions";
@media screen and (max-width: 1399.5px) {
	div.nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 10px;
		justify-items: start;
		padding-left: 40px;

		& :nth-child(3) {
			order: 1;
		}
	}

	div.cart-card {
		padding: 0 px2vw(20px) 0 px2vw(100px);
	}

	input.cart-card__inpt {
		margin-right: 0;
	}
}