/*Fonts and Typography*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap');

$Roboto: 'Roboto', 'Times New Roman', sans-serif;
$Open-Sans: 'Open Sans', 'Times New Roman', sans-serif;
$Yellowtail: 'Yellowtail', cursive;


/*Colors*/
$page-bg-color-main: #FFF;
$page-bg-color-additional: #F9F8F8;
$highlight-main: #274C5B;
$highlight-additional: #EFD372;
$text-color-main: #525C60;
$text-color-highlight: #7EB693;
$border-color-main: #D4D4D4;

/*Transition*/
$trans-default-time: 1.2s;
$trans-card-time: 0.5s;
$trans-button-time: 0.2s;

/*Paddings*/
$page-bg-side-padding: 260px;
$product-card-padding: 30px;

/*Border radius*/
$card-border-rad: 30px;
$btn-border-rad: 16px;

