@import "/src/assets/global-styles/variable";

.common-button, .link-button {
  padding: 12px;
  margin: 10px;
  border-radius: 16px 8px;
  border: 1px solid rgba(0, 0, 0, 0.9);
  color: $text-color-main;
  background-color: $page-bg-color-main;

  &:active {
    border-width: 2px;
    padding: 11px;
  }

  &:hover {
    box-shadow: 2px 4px 4px 0px rgba(93, 149, 238, 0.2);
    text-decoration: underline;
  }
}
