@import "@/assets/styles/variables";
@import "@/assets/styles/mixins";

.button {
	@include transition-main();

	&_common {
		border-radius: 50%;
	}

	&_nav {
		@include bold-text(20px);
		display: block;
		text-align: center;
	}

	&:active {
		border: 1px solid #aaa;
	}

	&:hover {
		background-color: $highlight-additional;
	}
}
