@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";
@import "/src/assets/styles/functions";

.modal-product {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    position: relative;
    background: #FFFAFA;
    padding: 40px px2vw($page-bg-side-padding);
  }
  
  &__content {
    display: flex;
    column-gap: 88px;
  }

  &__img-container {
    position: relative;
    border-radius: 30px;
    background-color: #F9F8F8;
    min-width: 600px;
    width: 600px;
    height: 600px;

    img {
      @include common-img();
      border-radius: 30px;
      mix-blend-mode: multiply;
    }
  }

  &__categories-wrap {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: absolute;
    top: 6%;
    left: 6%;
    column-gap: 6px;
    row-gap: 6px;
  }
  
  &__category {
    @include common-text(600);
    font-size: 15px;
    text-align: center;
    line-height: normal;
    color: $page-bg-color-main;
    display: inline-block;
    padding: 5px 12px;
    background-color: $highlight-main;
    text-transform: capitalize;
    border-radius: 8px;
  }
  
  &__description-wrap {
    @include flex-column();
    align-items: flex-start;
  }

  &__heading {
    font-weight: 600;
  }

  &__stars {
    @include flex-row;
    display: inline-flex;
    margin: 5px 0;
  }

  &__price-wrap {
    @include common-text(700);
    color: $highlight-main;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
  }

  &__price_cancel {
    @include common-text(600);
    font-size: 15px;
    text-decoration: line-through;
    color: #B8B8B8;
  }
  
  &__short-description {
    @include common-text();
    margin-top: 25px;
  }

  &__quantity-wrap {
    @include flex-row();
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 35px;
  }

  &__quantity-text {
    @include bold-text(20px);
  }

  &__inpt {
    @include bold-text(20px);
    width: px2vw(134px);
    height: px2vw(80px);
    border: 2px solid $highlight-main;
    border-radius: $btn-border-rad;
    text-align: center;
    padding-left: 12px;
  }

  &__add-to-cart {
    position: relative;
  }

  &__btn-to-shop {
    position: relative;
    z-index: 1;
    background-color: $highlight-main;
    color: $page-bg-color-main;
    width: 213px;
    height: 80px;
    padding: 0 39px;
    transition: $trans-button-time;

    &:hover {
      background-color: $highlight-additional;
    }

    &_cover {
      display: none;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $border-color-main;
      border-radius: $btn-border-rad;
      opacity: 0.7;
    }
  }

  &__message {
    @include bold-text(20px);
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $text-color-highlight;
    border-radius: $btn-border-rad;
    padding: 5px;
    color: $text-color-highlight;
    letter-spacing: 0.5px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;

    &_active {
      top: 105%;
      opacity: 1;
    }
  }

  &__description {
    @include flex-column();
    width: px2vw(1200px);
    margin: 0 auto;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__buttons-wrap {
    margin-top: 30px;
  }

  &__btn-close {
    position: absolute;
    top: 6vh;
    right: 6%;
    color: $page-bg-color-main;
    background-color: $highlight-main;
    width: 64px;
    height: 46px;
    border-radius: $btn-border-rad;
    border: none;
  }

  &__btn {
    @include common-text(700);
    font-size: 25px;
    border-color: transparent;
    padding: 23px 56px;
    color: $page-bg-color-main;
    background-color: $highlight-main;
    border-radius: $btn-border-rad;

    &:first-child {
      margin-right: 20px;
    }

    &_active {
      background-color: #EFF6F1;
      color: $highlight-main;
      border: 1px solid #000;
    }
  }

  &__product-description-wrap {
    @include common-text();
    text-align: center;
    font-size: 15px;
  }

  &_top-decore {
    width: 100%;
    background-color: $border-color-main;
    opacity: 82%;
    height: inherit;
  }

  &_bottom-decore {
    @extend .modal-product_top-decore;
  }
}