@import "/src/assets/styles/mixins";
@import "/src/assets/styles/variables";

.product-card {
  position: relative;
  z-index: 0;
  width: 320px;
  cursor: pointer;

  &__wrap {
    height: 485px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: $card-border-rad;
    background-color: #F9F8F8;
    transition: $trans-card-time;

    &_hover {
      transform: translateY(-5px);
    }
  }

  &__categories-wrap {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 6px;
    row-gap: 6px;
    padding-left: $product-card-padding;
    padding-right: $product-card-padding;
    padding-top: $product-card-padding;
  }

  &__img-wrap {
    width: 320px;
    height: 324px;
    background-color: #F9F8F8;

    img {
      @include common-img();
      mix-blend-mode: multiply;
    }
  }

  &__category {
    @include common-text(600);
    font-size: 15px;
    text-align: center;
    line-height: normal;
    color: $page-bg-color-main;
    display: inline-block;
    padding: 5px 12px;
    background-color: $highlight-main;
    text-transform: capitalize;
    border-radius: 8px;
  }

  &__description {
    position: relative;
    padding: 0 $product-card-padding;

    &_hr {
      width: 100%;
      border-top: 1px solid #DEDDDD;
      margin-top: 13px;
      margin-bottom: 6px;
    }
  }

  &__name {
    @include bold-text(20px, 600);
    text-transform: capitalize;
  }

  &__price-wrap {
    @include common-text(700);
    color: $highlight-main;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
  }

  &__price_cancel {
    @include common-text(600);
    font-size: 15px;
    text-decoration: line-through;
    color: #B8B8B8;
  }

  &__stars {
    @include flex-row;
    display: inline-flex;
    position: relative;
    transform: translateX(50%);
  }

  &__substrate {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: $card-border-rad;
    box-shadow: 0 0 3px 2px rgb(195, 195, 195);
    background-color: rgba(195, 195, 195);
    transition: 0.3s;

    &_hover {
      top: 10px;
      left: 10px;
      box-shadow: 0 0 3px 2px rgb(225, 225, 225);
      background-color: rgb(225, 225, 225);
    }
  }
}