@import "./functions";

@media screen and (max-width: 1047.5px) {
	button.search__btn {
			width: px2vw(100px);
			height: px2vw(100px);
	}

	div.cart {
		width: px2vw(290px);
	}

	p.cart__name {
		margin-right: 6px;
	}

	button.cart__btn {
			width: px2vw(100px);
			height: px2vw(100px);
			margin-right: 0;
	}
}
